<br>
<a href="http://localhost:3000">Home</a> <a href="http://localhost:3000/about">About</a>
<h1>Hey friends.</h1>
<h3>This is the about page. Not much here. Sorry.</h3>
<<img src="https://media4.giphy.com/media/JRhS6WoswF8FxE0g2R/giphy.gif" alt="">
